.container {
    display: grid;
    grid-template-rows: 13% auto;
    min-height: 100vh;
    background-color: #000000;
}

.header {
    background-color: #bedb17;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}
    
.content {
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: rgb(233, 27, 27);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

table, th, td {
    border: 1px solid yellow;
    border-collapse: collapse;
    font-size: larger;
    text-align: center; 
}

nav {
    margin: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.student-info, .student-bio {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}